<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 dir-list left-pane">
            <ul>
                <li class="directory-tree-root">
                    Root
                    <span> <a href="#" (click)="getDirectories()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a> </span></li>
                <directory-tree class="directory-tree" [directories]="directories" (selectedChange)="selectDir($event)"></directory-tree>
            </ul>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-9 right-pane">
            <!--div class="row player-tilte">
                <div class="col-md-12">
                    <h2>{{selectedDir.getName()}}</h2>

                </div>
            </div-->
            <div class="rowv first">
                <div class="col-md-6  directory-content-list top-left">
                    <ul>
                        <li *ngFor="#file of currentDirContent">
                            <a (click)="currentFile=file">{{file.getName()}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 top-right">
                    <div>
                        <p>
                            Genre <span class="badge">{{currentDirGenre.length}}</span>:
                            <span *ngFor="#genre of currentDirGenre; #i = index; #l = last" >
                                <span class="label label-default">{{genre}}</span>
                                <!-- {{l == 1? ' ':', '}} -->
                            </span>
                        </p>
                        <p>
                        Year <span class="badge">{{currentDirYear.length}}</span>:
                            <span *ngFor="#year of currentDirYear; #i = index; #l = last">
                                  <span class="label label-primary">{{year}}</span>
                              </span>
                        </p>
                    </div>

                    <div *ngIf="currentDirGenre.length == 1 && currentDirYear.length == 1 && !alreadyInStackAction(selectedDir)">
                        <button type="button" class="btn btn-success btn-xs" (click)="moveToCollection(selectedDir)" >
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Add to collection
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="moveToDelete(selectedDir)" >
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Add to Delete
                        </button>

                        <div>
                            <p><input [(ngModel)]="currentDirGenre[0]" ></p>
                            <p><input [(ngModel)]="currentDirYear[0]" ></p>
                            <button type="button" class="btn btn-warning btn-xs" (click)="setMetaData()" >
                                Apply
                            </button>

                        </div>
                    </div>


                </div>

                <div class="col-md-6 bottom-left">
                    <div class="col-md-12">
                        <h4>Delete queue</h4>
                        <p><a href="#" (click)="applyDelete()">Apply</a> </p>
                        <ul>
                            <li *ngFor="#deleteItem of getDeleteStack()">
                                <button type="button" class="btn btn-danger btn-xs" (click)="rmDeleteQueue(deleteItem)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

                                {{deleteItem.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 bottom-right">
                    <div class="col-md-12">
                    <h4>Collection queue</h4>
                        <p><a href="#" (click)="applyMove()">Apply</a> </p>
                        <ul>
                            <li *ngFor="#saveItem of getMoveStack()">
                                <button type="button" class="btn btn-danger btn-xs" (click)="rmCollectionQueue(saveItem)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                {{saveItem.name}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12 player" >
                    <span *ngIf="currentFile">
                        {{currentFile.getName()}}
                        <audio controls autoplay [src]="getPlayLink(currentFile)">
                            <source [src]="getPlayLink(currentFile)" type="audio/mpeg">
                        </audio>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>