<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 dir-list left-pane">
            <ul>
                <li class="directory-tree-root">
                    Root <span class="badge">{{directories.length}}</span>
                    <span> <a href="#" (click)="getDirectories()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a> </span></li>
                <directory-tree class="directory-tree" [directories]="directories" (selectedChange)="selectDir($event)"></directory-tree>
            </ul>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-9 right-pane">
            <!--div class="row player-tilte">
                <div class="col-md-12">
                    <h2>{{selectedDir.getName()}}</h2>

                </div>
            </div-->
            <div class="rowv first">
                <div class="col-md-6  directory-content-list top-left panel panel-primary">
                    <div class="panel-heading" *ngIf="selectedDir.getName()">
                        <h3 class="panel-title">{{selectedDir.getName() | stripUnderscore:'_':'-'}}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped" *ngIf="currentDirContent.length > 0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="#file of currentDirContent">
                                <td><span class="glyphicon glyphicon-music"></span></td>
                                <td><a (click)="currentFile=file">{{file.getName()}}</a></td>
                                <td><span (click)="copyToDdj(file)">copy to ddj</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-6 top-right  panel panel-default">
                    <div>
                        <p>
                            Genre <span class="badge">{{currentDirGenre.length}}</span>:
                            <span *ngFor="#genre of currentDirGenre; #i = index; #l = last" >
                                <span class="label label-default">{{genre}}</span>
                                <!-- {{l == 1? ' ':', '}} -->
                            </span>
                        </p>
                        <p>
                        Year <span class="badge">{{currentDirYear.length}}</span>:
                            <span *ngFor="#year of currentDirYear; #i = index; #l = last">
                                  <span class="label label-primary">{{year}}</span>
                              </span>
                        </p>
                    </div>

                    <div *ngIf="currentDirGenre.length == 1 && currentDirYear.length == 1">
                        <button type="button" class="btn btn-success btn-xs" (click)="moveToCollection(selectedDir)" *ngIf="!alreadyInStackAction(selectedDir)">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Add to collection
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="moveToDelete(selectedDir)" *ngIf="!alreadyInStackAction(selectedDir)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Add to Delete
                        </button>

                        <div>
                            <p><input [(ngModel)]="currentDirGenre[0]" ></p>
                            <p><input [(ngModel)]="currentDirYear[0]" ></p>
                            <button type="button" class="btn btn-warning btn-xs" (click)="setMetaData()" >
                                Apply
                            </button>

                        </div>
                    </div>


                </div>

                <div class="col-md-6 bottom-left panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title">Delete queue ({{getDeleteStack().length}})</h4>
                        <ul class="action-link-list">
                            <li>
                                <a href="#" (click)="applyDelete()" class="color-black" title="Apply/Push messages">
                                    <span class="glyphicon glyphicon-floppy-save"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr *ngFor="#deleteItem of getDeleteStack()">
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="rmDeleteQueue(deleteItem)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td>{{deleteItem.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 bottom-right panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">Collection queue ({{getMoveStack().length}})</h4>
                        <ul class="action-link-list">
                            <li>
                                <a href="#" (click)="applyMove()" class="color-black" title="Apply/Push messages">
                                    <span class="glyphicon glyphicon-floppy-save"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr *ngFor="#saveItem of getMoveStack()">
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="rmCollectionQueue(saveItem)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td>{{saveItem.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12 player" >
                    <span *ngIf="currentFile">
                        {{currentFile.getName()}}
                        <audio controls autoplay [src]="getPlayLink(currentFile)" [volume]="0.5">
                            <source [src]="getPlayLink(currentFile)" type="audio/mpeg">
                        </audio>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>