<ul>
    <li *ngFor="#dir of directories">
        <span>
            <a (click)="toggle(dir)">
                <span *ngIf="dir.expanded" class="glyphicon glyphicon-folder-open"></span>
                <span *ngIf="!dir.expanded" class="glyphicon glyphicon-folder-close"></span>
            </a>
            <a (click)="select(dir)" [ngClass]="{selected: dir.selected}">{{ dir.getName() }}</a>
        </span>
        <directory-tree *ngIf="dir.expanded && dir.childLoaded" [directories]="dir.child" (selectedChange)="select($event)"></directory-tree>
    </li>
</ul>